@let tabState = tabState$ | async;

<section class="home">
  <header class="home--header">
    <div class="home--header__logo">
      <img src="links-shared-logo.webp">

      <h2>devLinks</h2>
    </div>

    <nav>
      <button class="btn--tab"
              [class.active]="tabState === TAB_STATE.LINKS"
              (click)="changeView(TAB_STATE.LINKS)">
        <i class="pi pi-link"></i>

        link
      </button>

      <button class="btn--tab"
              [class.active]="tabState === TAB_STATE.PROFILE"
              (click)="changeView(TAB_STATE.PROFILE)">
        <i class="pi pi-user"></i>

        Profile Details
      </button>
    </nav>

    <div class="home--header__logo">
      <button
        [routerLink]="'/preview'" class="btn--secondary">
        <i class="pi pi-eye"></i>

        Preview</button>

<!--      <button class="btn&#45;&#45;secondary" (click)="logout()">-->
<!--        <i class="pi pi-sign-out"></i>-->
<!--      </button>-->
    </div>
  </header>

  <main class="home--main__container">
    <article class="main--preview">
      <app-preview-phone></app-preview-phone>
    </article>

    <article class="main--custom">

      @switch (tabState) {
        @case (TAB_STATE.LINKS) {
          <app-added-links></app-added-links>
        }
        @case (TAB_STATE.PROFILE) {
          <app-profile-details></app-profile-details>
        }
        @default {
          <p>Selecciona una vista</p>
        }
      }
    </article>
  </main>
</section>
