<section class="home">
  <header class="home--header">
    <div class="home--header__logo">
      <img src="links-shared-logo.webp">

      <h2>devLinks</h2>
    </div>

    <nav>
      <button class="btn--tab active">
        <i class="pi pi-link"></i>

        link
      </button>

      <button class="btn--tab">
        <i class="pi pi-user"></i>

        Profile Details
      </button>
    </nav>

    <button class="btn--secondary">Preview</button>
  </header>

  <main class="home--main__container">
    <article class="main--preview">
      <app-preview-phone></app-preview-phone>
    </article>

    <article class="main--custom">
      <div class="auth--form__title">
        <h1>Customize your links</h1>

        <h3>Add/edit/remove links below and then share all your profiles with the world!</h3>
      </div>

      <div class="custom--content">
        <button class="btn--secondary w-full">
          <i class="pi pi-plus"></i>

          Add new link
        </button>

        <div class="custom--started">
          <app-started-message></app-started-message>
        </div>
      </div>

      <div class="custom--button">
        <button class="btn--primary">Save</button>
      </div>
    </article>
  </main>
</section>
