.auth--container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-color);

  .auth--section--container {
    width: 476px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .auth--main__title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .auth--container {
    background-color: var(--white-color);

    .auth--section--container {
      width: 100%;

      .auth--main__title {
        justify-content: start;
        padding-left: 40px;
      }
    }
  }
}
