<section class="link">
  <div class="link--header">
    <div class="link--header__title">
      <i class="pi pi-bars"></i>

      <h2>Link {{index}}</h2>
    </div>

    <h3 (click)="removeItem()">Remove</h3>
  </div>

  <div class="link--field">
    <div class="form--input">
      <label>platform</label>

      <app-dropdown [position]="index" (selectedOptionEmitter)="selectedOption($event)"></app-dropdown>
    </div>

    <div class="form--input">
      <label>link</label>

        <input id="email"
               type="email"
               placeholder="e.g. https://www.github.com/johnappleseed"
               [icon]="'pi-link'"
               [isInvalidValue]="isInvalid()"
               [formControl]="inputForm"
               (blur)="updateLink()"
               inputIcon/>
      @if (hasErrorByName('required')) {
        <h4 class="error--input">Can’t be empty</h4>
      }

      @if (hasErrorByName('pattern')) {
        <h4 class="error--input">Please check the URL</h4>
      }
    </div>
  </div>
</section>
