<app-auth-container-form [title]="'Create account'" [subtitle]="'Let’s get you started sharing your links!'">
  <form class="form--container" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form--input">
      <label for="email">Email address</label>

      <input id="email"
             type="email"
             placeholder="e.g. alex@gmail.com"
             [icon]="'pi-envelope'"
             [formControlName]="'email'"
             [isInvalidValue]="isInvalid('email')"
             inputIcon/>

      @if (hasErrorByName('email', 'required')) {
        <h4 class="error--input">Can’t be empty</h4>
      }

      @if (hasErrorByName('email', 'email')) {
        <h4 class="error--input">Invalid email</h4>
      }

      @if (hasErrorByName('email', 'duplicated')) {
        <h4 class="error--input">This email is already registered</h4>
      }

    </div>

    <div class="form--input">
      <label for="password">Create password</label>

      <input id="password"
             type="password"
             placeholder="At least 8 characters"
             [icon]="'pi-lock'"
             [formControlName]="'password'"
             [isInvalidValue]="isInvalid('password')"
             inputIcon/>

      @if (hasErrorByName('password', 'required')) {
        <h4 class="error--input">Can’t be empty</h4>
      }

      @if (hasErrorByName('password', 'minlength')) {
        <h4 class="error--input">A minimum of 8 characters is required</h4>
      }
    </div>

    <div class="form--input">
      <label for="confirm-password">confirm password</label>

      <input id="confirm-password"
             type="password"
             placeholder="At least 8 characters"
             [icon]="'pi-unlock'"
             [formControlName]="'confirmPassword'"
             [isInvalidValue]="isInvalid('confirmPassword') || registerForm.hasError('notMach') && registerForm.get('confirmPassword')?.touched"
             inputIcon/>

      @if (hasErrorByName('confirmPassword', 'required')) {
        <h4 class="error--input">Can’t be empty</h4>
      } @else if (hasErrorByName('confirmPassword', 'minlength')) {
        <h4 class="error--input">A minimum of 8 characters is required</h4>
      } @else if (registerForm.hasError('notMach') && registerForm.get('confirmPassword')?.touched) {
        <h4 class="error--input">Passwords do not match</h4>
      }
    </div>

    <h4>Password must contains at least 8 characters</h4>

    <button class="btn--primary w-full">Login</button>

    <h3>Already have an account?
      <a [routerLink]="'/auth/login'">Login</a></h3>
  </form>
</app-auth-container-form>
