<app-auth-container-form [title]="'Login'" [subtitle]="'Add your details below to get back into the app'">
  <form class="form--container" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form--input">
      <label for="email">Email address</label>

      <input id="email"
             type="email"
             placeholder="e.g. alex@gmail.com"
             [formControlName]="'email'"
             [icon]="'pi-envelope'"
             [isInvalidValue]="isInvalid('email')"
             inputIcon/>

      @if (hasErrorByName('email', 'required')) {
        <h4 class="error--input">Can’t be empty</h4>
      }

      @if (hasErrorByName('email', 'duplicated')) {
        <h4 class="error--input">This email is already registered</h4>
      }

      @if (hasErrorByName('email', 'email')) {
        <h4 class="error--input">Invalid email</h4>
      }

      @if (hasErrorByName('email', 'authentication')) {
        <h4 class="error--input">Invalid email or password</h4>
      }
    </div>

    <div class="form--input">
      <label for="password">Password</label>

      <input id="password"
             type="password"
             placeholder="Enter your password"
             [formControlName]="'password'"
             [icon]="'pi-lock'"
             [isInvalidValue]="isInvalid('password')"
             inputIcon/>

      @if (hasErrorByName('password', 'required')) {
        <h4 class="error--input">Can’t be empty</h4>
      }

      @if (hasErrorByName('password', 'minlength')) {
        <h4 class="error--input">A minimum of 8 characters is required</h4>
      }

      @if (hasErrorByName('email', 'authentication')) {
        <h4 class="error--input">Invalid email or password</h4>
      }
    </div>

    <button class="btn--primary w-full">Login</button>

    <h3>Don’t have an account?
      <a [routerLink]="'/auth/register'">Create account</a>
    </h3>
  </form>
</app-auth-container-form>
