@let imageSrc = imageSrc$ | async;

<section class="main--container">
  <div class="main--container__title">
    <div>
      <h1>Profile Details</h1>

      <h3>Add your details to create a personal touch to your profile.</h3>
    </div>
  </div>

  <div class="main--content__profile">
    <div class="profile--img__content">
      <h3>Profile picture</h3>

      <div class="profile--input__container" (click)="fileInput.click()">
        <div class="profile--input__image">
          <div class="profile--input__upload">
            <i class="pi pi-image"></i>
            <h2>+ Upload Image</h2>
          </div>

          @if (imageSrc) {
            <img [src]="imageSrc"
                 alt="Profile Image"/>
          }
        </div>

        <h4>Image must be below 1024x1024px. Use PNG or JPG format.</h4>

        <input
          #fileInput
          type="file"
          accept="image/png, image/jpeg"
          (change)="saveImage($event)"/>
      </div>
    </div>

    <form class="profile--form__content" [formGroup]="profileForm">
      <div class="profile--field">
        <h3>First name*</h3>

        <input type="text"
               placeholder="e.g. John"
               [isInvalidValue]="isInvalid('firsName')"
               [formControlName]="'firsName'"
               (blur)="saveInputValue('firsName')"
               inputIcon>

        @if (hasErrorByName('firsName', 'required')) {
          <h4 class="error--input">Can’t be empty</h4>
        }
      </div>

      <div class="profile--field">
        <h3>Last name*</h3>

        <input type="text"
               placeholder="e.g. Appleseed"
               [isInvalidValue]="isInvalid('lastName')"
               [formControlName]="'lastName'"
               (blur)="saveInputValue('lastName')"
               inputIcon>

        @if (hasErrorByName('lastName', 'required')) {
          <h4 class="error--input">Can’t be empty</h4>
        }
      </div>

      <div class="profile--field">
        <h3>Email</h3>

        <input type="text"
               placeholder="e.g. email@example.com"
               [isInvalidValue]="isInvalid('email')"
               [formControlName]="'email'"
               (blur)="saveInputValue('email')"
               inputIcon>

        @if (hasErrorByName('email', 'required')) {
          <h4 class="error--input">Can’t be empty</h4>
        }

        @if (hasErrorByName('email', 'email')) {
          <h4 class="error--input">Invalid email</h4>
        }
      </div>
    </form>
  </div>

  <div class="main--button__save">
    <button class="btn--primary" (click)="saveProfileInfo()">Save</button>
  </div>
</section>
