.w-full {
  width: 100%;
}

.form--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;

  h3 {
    color: var(--grey-color);
    text-align: center;

    a {
      color: var(--primary-purple-color);
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.auth--form__box {
  width: 100%;
  border-radius: 12px;
  background-color: var(--white-color);
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .auth--form__title {
    h3 {
      color: var(--grey-color);
    }
  }
}

.form--input {
  display: flex;
  flex-direction: column;
  gap: 3px;

  h4, label {
    color: var(--grey-color);
  }
}

.main--container {
  height: 100%;

  .main--container__title {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      color: var(--grey-color);
    }
  }

  .main--content {
    height: calc(100% - 305px);
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    app-started-message {
      height: 100%;
    }
  }

  .main--content__profile {
    height: calc(100% - 305px);
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    app-started-message {
      height: 100%;
    }
  }

  .main--button__save {
    display: flex;
    width: 100%;
    height: 95px;
    justify-content: end;
    align-items: center;
    border-top: var(--grey-border-color) solid 1px;
  }
}
