@let links = linksState$ | async;
@let image = imageSrc$ | async;
@let firstName = firstname$ | async;
@let lastName = lastName$ | async;
@let email = email$ | async;

<div class="profile" [class.preview--view]="previewView">
  <div class="profile--information">

    @if (image) {
      <img [src]="image" class="profile--photo">
    } @else {
      <div class="profile--photo"></div>
    }

    @if (firstName || lastName) {
      <h2>{{firstName}} {{lastName}}</h2>
    } @else {
      <div class="profile--name"></div>
    }

    @if (email) {
      <h4>{{ email }}</h4>
    } @else {
      <div class="profile--email"></div>
    }
  </div>

  <div class="links--container" [class.disabled--height]="previewView">
    @for (link of links; track index; let index = $index) {
      <div class="link--item"
           [style.backgroundColor]="link.platform.color"
           (click)="openURL(link.link)">
        <div class="link--item__info">
          <i class="pi {{link.platform.iconKey}}"></i>

          <h4>{{ link.platform.label }}</h4>
        </div>

        @if (link.platform.label) {
          <i class="pi pi-arrow-right"></i>
        }
      </div>

    } @empty {
      <div class="link--item"></div>

      <div class="link--item"></div>

      <div class="link--item"></div>

      <div class="link--item"></div>

      <div class="link--item"></div>
    }
  </div>
</div>
