:host {
  width: 100%;
  height: 100%;
  background-color: var(--light-grey-color);
}

.message--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 25px;

  h3 {
    width: 488px;
    text-align: center;
  }
}
