<section class="main--container">
  <div class="main--container__title">
    <div>
      <h1>Customize your links</h1>

      <h3>Add/edit/remove links below and then share all your profiles with the world!</h3>
    </div>

    <button class="btn--secondary w-full" (click)="addNewLink()">
      <i class="pi pi-plus"></i>

      Add new link
    </button>
  </div>

  <div class="main--content">
    <app-started-message></app-started-message>
<!--    <app-link-option></app-link-option>-->
  </div>

  <div class="main--button__save">
    <button class="btn--primary">Save</button>
  </div>
</section>
