@let links = linksState$ | async;

<section class="main--container">
  <div class="main--container__title">
    <div>
      <h1>Customize your links</h1>

      <h3>Add/edit/remove links below and then share all your profiles with the world!</h3>
    </div>

    <button class="btn--secondary w-full" (click)="addNewLink()">
      <i class="pi pi-plus"></i>

      Add new link
    </button>
  </div>

  <div class="main--content"
       [cdkDropListData]="links"
       (cdkDropListDropped)="dropEvent($event)"
       cdkDropList>

    @for (link of links; track link.platform.label; let index = $index) {
      <app-link-option [position]="index" cdkDrag></app-link-option>
    } @empty {
      <app-started-message></app-started-message>
    }
  </div>

  <div class="main--button__save">
    <button class="btn--primary" (click)="saveLinks()">Save</button>
  </div>
</section>
